<% include ./partials/header %>
<div class="ui container">
  <div class="ui three column grid">
    <!--Vertical Menu Bar-->
    <div class="left floated four wide column">
      <div class="ui secondary vertical pointing menu">
        <a href="#" class="active item">Home</a>
        <a href="/notes/new" class="item">Leave a Note</a>
        <a href="#" class="item">Pinned Notes</a>
        <a href="/public" class="item">Public Notes</a>
      </div>
    </div>
    <!--Your Recent Notes-->
    <div class="eight wide centered column">
      <h2 class="ui center aligned header">Your Recent Notes</h2>
      <% user.receivedNotes.forEach(function(note){ %>
        <div class="ui raised segment">
          <h4 class="header"><%= note.kind %> from <%= note.author.username %>.</h4>
          <p><%= note.content %></p>
          <p class="pull-right"><%= moment(note.date).fromNow() %> <a href="/notes/reply/<%= note.author.id %>" class="ui mini button">Send one back?</a></p>
        </div>
      <% }) %>    
    </div>
    <!--Recent Activity-->
    <div class="right floated four wide column">
      <h3 class="ui center aligned header">Recent Activity</h3>
      <div class="ui segments">
        <% activity.notes.forEach(function(note){ %>
          <div class="ui segment">
            <% note.kind = note.kind.toLowerCase() %>
            <p><%= note.author.username %> sent <% if(note.kind == "memory"){ %> a <%= note.kind %><% } else {%><%= note.kind %><% } %> to <%= note.recipient.username %></p>
          </div>
        <% }) %>  
      </div>
    </div>
  </div>
</div>

<% include ./partials/footer %>