<% include ./partials/header %>

<div class="ui container">
  <div class="ui grid">
    
    <!--Vertical Menu Bar-->
    <div class="sidemenu">
      <div class="ui secondary vertical pointing menu">
        <a href="/hub" class="item">Home</a>
        <a href="/notes/new" class="item">Leave a Note</a>
        <a href="#" class="item">Pinned Notes</a>
        <a href="/public" class="active item">Public Notes</a>
      </div>
      <hr/>
      <!--Create a Thread Form-->
      <div class="ui inverted segment">
      <form class="ui inverted form" action="/public/thread/new" method="POST">
        <div class="field">
          <label name="theme">Create a Thread</label>
          <input class="ui input" name="theme" type="text"></input>
        </div>
        <button class="ui small blue button" style="width: 100%">Create</button>
      </form>
      </div>
      <!--Thread list-->
      <div class="ui bulleted list">
        <% data.threads.forEach(function(thread){ %>
          <div class="item"><a href="/public/<%= thread.theme %>"><%= thread.theme %></a></div>
        <% }) %>
      </div>
    </div>
    
    <!--user list-->
     <div class="twelve wide right floated column">
       <div class="ui huge horizontal selection list" id="jdprofiles">
         <!-- links to personal profiles -->
          <% data.users.forEach(function(user){ %>
            <div class="item jdprofiles">
              <img class="ui avatar image" src="/images/profilepic-placeholder.png">
              <div class="content">
                <div class="header"><%= user.username %></div>
              </div>
            </div>
          <% }) %>
       </div>
    
    <!--Central Display-->
    <% if(data.mainThread){ var header = "Notes in the " + data.mainThread + " Thread" } else { var header = "All Public Notes" } %>
      <h2 class="ui center aligned header"><%= header %></h2>
      <% if(data.mainThread){ %>
      <div class="ui secondary center aligned segment"><a href="/notes/new/<%=data.mainThread%>">Add your own note to this family thread!<i class="add circle icon"></i></a></div>
      <% } %>
        <% data.notes.forEach(function(note){ %>
        <% if(note.recipient.username){var temp = "to " + note.recipient.username} else {var temp = "in " + note.thread} %>
        <div class="ui raised segment">
          <h4 class="header"><%= note.kind %> from <%= note.author.username %> <%= temp %>.</h4>
          <p><%= note.content %></p>
          <div class="pull-right"><%= moment(note.date).fromNow() %> 
            <div class="ui labeled button" tabindex="0" style="margin-left: 10px">
            <div class="ui red button"><i class="heart icon"></i></div>
            <a class="ui basic red left pointing label">12</a>
            </div>
          </div>
        </div>
      <% }) %>
    </div>
  </div>
</div>


<% include ./partials/footer %>