<% include ./partials/header %>

<div class="ui container">
  <div class="ui grid">
    
    <!--Vertical Menu Bar-->
    <div class="sidemenu">
      <div class="ui secondary vertical pointing menu">
        <a href="/hub" class="item">Home</a>
        <a href="/notes/new" class="item">Leave a Note</a>
        <a href="#" class="item">Pinned Notes</a>
        <a href="/public" class="active item">Public Notes</a>
      </div>
      <hr/>
      <div class="scroll-box">
        <!--Create a Thread Form-->
        <div class="ui inverted segment">
        <form class="ui inverted form" action="/public/thread/new" method="POST">
          <div class="field">
            <label name="theme">Create a Thread</label>
            <input class="ui input" name="theme" type="text"></input>
          </div>
          <button class="ui small blue button" style="width: 100%">Create</button>
        </form>
        </div>
        <!--Thread list-->
        <div class="ui bulleted list">
          <% data.threads.forEach(function(thread){ %>
            <div class="item"><a href="/public/<%= thread.theme %>"><%= thread.theme %></a></div>
          <% }) %>
        </div>
      </div>
    </div>
    
     <div class="twelve wide right floated column">
    <!--Search Bar-->
      <div class="search-bar">
        <form class="ui right floated form" action="/public/search" method="GET">
          <div class="inline fields">
             <div class="ui inline field">
            <input class="ui input" name="query" type="text"></input>
          </div>
          <button class="ui blue button">Search</button>
          </div>
        </form>
      </div>
    <!--Central Display-->
    <% if(data.mainThread){ var header = "Notes in the " + data.mainThread + " Thread" } else { var header = "All Public Notes" } %>
      <h2 id="public-header" class="ui huge header"><%= header %></h2>
      <% if(data.mainThread){ %>
      <div class="ui secondary center aligned segment"><a href="/notes/new/<%=data.mainThread%>">Add your own note to this family thread!<i class="add circle icon"></i></a></div>
      <% } %>
      <% data.notes.docs.forEach(function(note){ %>
        <% if(note.recipient.username){var temp = "to " + note.recipient.username} else {var temp = "in " + note.thread} %>
        <div class="ui raised segment">
          <h4 class="header"><%= note.kind %> from <%= note.author.username %> <%= temp %>.</h4>
          <p><%= note.content %></p>
          <div class="pull-right"><%= moment(note.date).fromNow() %> 
            <div class="ui labeled button" tabindex="0" style="margin-left: 10px">
            <a href="/notes/likes/<%= note._id %>" class="ui mini red button"><i class="heart icon"></i></a>
            <a class="ui basic red left pointing label"><%= note.likes.total %></a>
            </div>
          </div>
        </div>
      <% }) %>
      <% if (data.notes.docs.length > 0){ %>
      <div class="ui secondary center aligned segment">
        <% if(data.mainThread){ %>
          <% var link = "/public/" + data.mainThread + "?page=" %>
        <% } else { %>
          <% var link = "/public?page=" %>
        <% } %>
        <% if(data.notes.page > 1){ %>
          <a href="<%= link %><%= data.notes.page-1 %>">< </a>
        <% } %>
        <% for(var i = 1; i <= data.notes.pages; i ++){ %>
          <% if(i == data.notes.page){ %>
            <%= i %>
          <% } else { %>
            <a href="<%= link %><%= i %>"><%= i %></a>
          <% } %>
        <% } %>
        <% if(data.notes.pages > 1 && data.notes.page < data.notes.pages){ %>
          <a href="<%= link %><%= data.notes.page+1 %>"> ></a>
        <% } %>
        <% if(data.notes.page < data.notes.pages){var x = data.notes.page * 5} else { var x = (data.notes.page - 1) * 5 + data.notes.docs.length } %>
        <span style="float: right">Showing <%= data.notes.page * 5 - 4 %>-<%= x %> of <%= data.notes.total %></span>
      </div>
      <% } %>
    </div>
  </div>
</div>


<% include ./partials/footer %>